@charset "utf-8";
/* NightLife Master CSS Document 
*	Design by: Vladan Zlatic vladan.zlatic@online.rs
*	HTML/CSS by: Aleksandar Cocek aleksandar.cocek@online.rs
*	Note: Use with YUI reset
*/

html{
	background: #150222;
}

body{
}

#wrapp{
	width:73.85em;
	*width:72.07em;
	min-width:960px;
	margin:auto;
	text-align:left;
	background:url(../graphics/background.jpg) top center no-repeat;
	min-height: 800px;
}

/* Fonts */
@font-face {
	font-family: 'Myriad Pro Bold';
	src: url(../fonts/MyriadPro-Bold.otf) format("opentype");
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url(../fonts/MyriadPro-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'Myriad Pro Light';
	src: url(../fonts/MyriadPro-Light.otf) format("opentype");
}

/* Overall styles */
strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

a{
	outline: none;
}


/* Header */

#hd h1{
	position: absolute;
	top: -99999px;
	left: -99999px;
}

ul.languages{
	position: relative;
	float: right;
	top: 20px;
}

ul.languages li{
	float: left;
	display: inline;
	padding: 2px 6px;
	color: #999999;
	font: normal 14px "Myriad Pro Bold", Arial, Helvetica, sans-serif;
}

ul.languages a{
	color: #999999;
	text-decoration: none;
}


/* Content */

.headline h1{
	position: absolute;
	left:-10000px;
	overflow:hidden;
}

.headline img{
	position: relative;
	float: left;
	top: 96px;
}

.bar{
	position:relative;
	float: left;
	top: 275px;
	left: 0px;
	width:960px;
	/*	height: 240px;
	overflow: hidden;*/
}

.left-panel{
	width: 240px;
	height:240px;
	float: left;
	display: inline;
	position:relative;
}

.left-panel-bg{
	background: url(../graphics/jezicak-levi.png) top left no-repeat;
	height: 55px;
	position: absolute;
	width: 240px;
	z-index: 500;
	left: 0;
}

.left-panel-bg h3{
	font: normal 14px "Myriad Pro Bold", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform:uppercase;
	float: left;
	padding: 25px 20px 25px 40px;
}

.left-panel-bg img{
	float: right;
	padding: 25px 20px 25px 0px;
	_padding:10px 0;
}

.left-panel-content{
}

.middle1-panel{
	width: 240px;
	height:240px;
	float: left;
	display: inline;
	position:relative;
}

.middle1-panel-bg{
	background:url(../graphics/jezicak-srednji.png) left top no-repeat;
	height: 55px;
	width: 240px;
	position: absolute;
	z-index: 500;
}

.middle1-panel-bg h3{
	font: normal 14px "Myriad Pro Bold", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform:uppercase;
	float: left;
	padding: 25px 20px;
}

.middle1-panel-bg img{
	float: right;
	padding: 25px 20px;
}

.middle1-panel-content{
}

.middle2-panel{
	width: 240px;
	height:240px;
	float: left;
	display: inline;
	position:relative;
}

.middle2-panel-bg{
	width: 240px;
	float: left;
	display: inline;
	background:url(../graphics/jezicak-srednji.png) left top no-repeat;
	height: 55px;
	position: absolute;
	z-index:500;
}

.middle2-panel-bg h3{
	font: normal 14px "Myriad Pro Bold", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform:uppercase;
	float: left;
	padding: 25px 20px;
}

.middle2-panel-bg img{
	float: right;
	padding: 25px 20px 25px 0px;
}

.middle2-panel-content{
}

.right-panel{
	width: 240px;
	height:240px;
	float: left;
	display: inline;
	position:relative;
}

.right-panel-bg{
	width: 240px;
	background:url(../graphics/jezicak-desni.png) left top no-repeat;
	height: 55px;
	position: absolute;
	z-index:500;
}

.right-panel-bg h3{
	font: normal 14px "Myriad Pro Bold", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform:uppercase;
	float: left;
	padding: 25px 0px 25px 20px;
}

.right-panel-bg img{
	float: right;
	padding: 25px 40px 25px 0px;
}

.right-panel-content{
}

#panel {
	background: url(../graphics/jezicak-razvucen-levi.png) bottom left no-repeat;
	width: 198px;
}

.inside{
	padding: 20px 10px;
}

.inside p{
	color: #999;
	line-height: 16px;
	font-size: 11px;
}

.outside{
	overflow:hidden;
	height:240px;
	position:relative;
	top:35px;
}

.what-we-do{
	position: absolute;
	top: 150px;
	left: 13px;
}

.apply{
	position: absolute;
	top: 150px;
	left: 13px;
}

.vip-cards{
	position: absolute;
	top: 125px;
	right: 5px;
}

.read-more{
	position: absolute;
	top: 170px;
	left: 35px;
}


#panel2 {
	background:url(../graphics/jezicak-srednji-razvucen.png) bottom left no-repeat;
	width:198px;
}

#panel3 {
	background:url(../graphics/jezicak-srednji-razvucen.png) bottom left no-repeat;
	width: 198px;
}

#panel4 {
	background: url(../graphics/jezicak-razvucen-desni.png) bottom left no-repeat;
	width:199px;
}

.active{
	margin-top: 159px;
}

/* Buttons */
.button-more{
	background:url(../graphics/button-more.png) left top no-repeat;
	width: 71px;
	height: 27px;
	color: #FFF;
	display: block;
	padding: 5px 0;
	text-align:center;
	text-decoration:none;
	font-size: 11px;
}

.button-apply{
	background:url(../graphics/button-fill-in.png) left bottom no-repeat;
	width: 150px;
	height: 31px;
	display: block;
	color: #FFF;
	padding: 10px 20px;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
}

.submit-btn{
	background:url(../graphics/button-more.png) no-repeat 0 7px;
	width: 71px;
	height: 37px;
	color: #FFF;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
	font: normal 14px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
	border: none;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

/* Apply form */
.ajax-form-div{
	width:550px;
	height: 600px;
	background: #3c3c3c;
	color: #999;
	border: 2px solid #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ajax-form-div h3{
	color: #FFF;
	font: normal 18px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: left;
	padding-left: 15px;
	margin: 10px 0;
}

.ajax-form-div form ul{
	margin: 10px 0;
}

.ajax-form-div form ul li{
	padding: 10px 0;
}

.ajax-form-div form ul li label {
	display:block;
	float:left;
	line-height:23px;
	width:115px;
}
.form-input {
	-moz-border-radius:6px 6px 6px 6px;
	background:url("../graphics/input_bg.jpg") repeat-x scroll left center transparent;
	border: 2px solid #000;
	color:#FFF;
	font-size:12px;
	height:18px;
	padding-top:2px;
	width:200px;
}

.form-textarea {
	-moz-border-radius:4px 4px 4px 4px;
	border:1px solid #000;
	color:#FFF;
	height:140px;
	width:340px;
}

/* Footer */
#ft{
	background: #1d0330;
	min-height: 100px;
	border-top: 1px solid #2f1c3c;
}

#ft p{
	color: #7a3892;
	text-align: center;
	padding: 10px 0;
}

