body {
    font-family: 'Trebuchet MS', 'Arial', sans-serif;
    font-size: 13px;
    background-color: #869fb3;
    color: #403e31;
}

#header {
    width: 100%;
    height: 120px;
    background-color: #8ca6b7;
    margin-top: 60px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
}

#body {
    float: left;
    background-color: #a9becf;
    padding: 10px 0;
}

#left {
    background-color: #ffffff;
}

#right {
    background-color: #49464d;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    text-align: justify;
}

.navigation {
    margin: 10px 0 0;
    float: right;
    border-right: 1px solid #a9becf;
    font-size: 14px;
}

.navigation li {
    display: inline;
    margin: 0;
    width: 100px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    border: 1px solid #a9becf;
    border-right: none;
}

.navigation li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #869fb3;
}

.navigation li a:hover {
    background-color: #a9becf;
    color: #49464d;
}

.navigation li.active a {
    background-color: #a9becf;
    color: #49464d;
}

.navigation ul {
    margin: 0;
    display: none;
    position: absolute;
    border-bottom: 1px solid #a9becf;
    width: 100px;
    z-index: 2;
}

.navigation ul li {
    width: 100px;
    border-right: 1px solid #a9becf;
    margin-left: -1px;
}

#left {
    float: left;
}

.article {
    float: left;
    margin-bottom: 20px;
}

.article-title h2 {
    margin-bottom: 10px;
}

.article-content p {
    margin-bottom: 10px;
    font-size: 14px;
    text-indent: 25px;
}

.article-footer {
    float: right;
}

#right {
    float: left;
}

.paginationControl {
    text-align: center;
    padding: 5px 0 0 40px;
    float: left;
}

.paginationControl a , .paginationControl .disabled {
    padding: 10px 5px 5px;
    float: left;
    width: 25px;
    color: #49464d;
}

.paginationControl .disabled, .paginationControl a:hover {
    background-color: #a9becf;
    color: #ffffff;
}

.form_ul {
    list-style-type: none;
}

.form_ul li {
    margin: 0;
    padding: 10px 0 5px 5px;
}

.form_ul label {
    float: left;
    width: 200px;
}

.honeypot {
    display: none;
}

.ui-datepicker td span.has-news {
    background: #f00;
}